[project]
name = "helper-codes"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = [
    "pydantic >=2.12.0, <3.0.0",
    "requests >=2.32.0, <3.0.0",
]

[dependency-groups]
dev = [
    "black",
    "coverage",
    "isort",
    "mypy",
    "pylint",
    "types-requests",
]
